.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

.card-style{
  cursor:pointer;
  margin-bottom:16px;
  min-height:160px
}
.card-meta{
  font-size: 22px;
  margin-bottom: 10px;
}